extends ./layouts/root

block content
  if (message)
    .c-message= message
  .row
    .col-sm.c-content.u-center
      .c-content__header
        h2 Login
      .c-content__body
        form(action='/login', method='POST').js-login-form
          .form-group
            label(for='login-email') Email address
            input#login-email.form-control(type='email', name='email', required, aria-describedby='emailHelp', placeholder='Enter email')
          .form-group
            label(for='login-password') Password
            input#login-password.form-control(type='password', name='password', required, placeholder='Password')
          .form-group
            a(href='/auth/facebook') Login with facebook
            br
          button.btn.btn-primary(type='submit') Submit

    .col-sm.c-content.u-center
      .c-content__header
        h2 Register
      .c-content__body
        form(action='/register', method='POST').js-register-form
          .form-group
            label(for='register-email') Email address
            input#register-email.form-control(type='email', name='email', required, aria-describedby='emailHelp', placeholder='Enter email')
          .form-group
            label(for='register-password') Password
            input#register-password.form-control(type='password', name='password', required, placeholder='Password')
          button.btn.btn-primary(type='submit') Submit